# General files
.DS_Store
.Rhistory
*.un*

# Project-specific files and directories
.snakemake
scratch
*-env

# Partially ignored directories
data/*
report/*
results/*

# Individual files and directories to track
!data/example_data
!report/report.Rnw
!report/myunsrt.bst
!report/references.bib
!report/logos
